.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 36px;
    line-height: 1.33;
    border-radius: 35px;
}


.chat-container {
    z-index: 100;
    position: fixed;
    right: 60px;
    bottom: 120px;
    width: 600px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}


.chat-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
}


.chat-header {
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.chat-avatar {
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-right: 10px;
}
.chat-header .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


.chat-messages {
    flex: 1;
    padding: 10px;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.chat-request {
    border: none;
    background: #1F6987;
    font-size: 12px; 
    border-radius: 20px;
    padding: 8px 15px; 
    color: #ffffff;
    box-shadow: 0px 4px 6px rgba(109, 156, 203, 0.2);
    margin-bottom: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-request:hover {
    background: #155a74; 
}

.chat-response-wrapper {
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 10px;
    max-width: 500px;
    word-wrap: break-word;
}
.chat-response-header {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    width: 550px;
}
.chat-response {
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
    padding: 10px;
}
.chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-radius: 0 0 15px 15px;
    position: relative;
    width: 100%; 
}

.chat-form-control {
    flex: 1;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    background: #ffffff;
    margin-right: 50px; 
    z-index: 1; 
}

.icon-send {
    position: absolute;
    right: 15px;
    font-size: 32px;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 2; 
}

.icon-send:hover {
    color: #0056b3;
}

.bg-white {
    border: 1px solid #E7E7E9;
    font-size: 10px;
    border-radius: 20px;
}
.myvideo img {
    border-radius: 20px;
}
.dot {
    font-weight: bold;
}
.link-recommend {
    display: inline;
    color: #0c4ab1;
    text-decoration: underline;
    cursor: pointer;
}
.describer-recommend {
    display: inline-block;
    color: #070707;
}
.chat-user {
    background-color: #DCF8C6;
    color: #000;
    border-radius: 10px;
    padding: 8px;
    max-width: 80%;
}

.chat-bot {
    background-color: #db3737;
    color: #000;
    border-radius: 10px;
    padding: 8px;
    max-width: 80%;
}